{% extends 'base.html.twig' %}

{% block title %}Checkout
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-5">

			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<fieldset>
							<legend>Delivery Information</legend>
							<form id="checkoutForm" onsubmit="event.preventDefault()">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firstName">First Name*</label>
											<input type="text" name="first_name" class="form-control" id="firstName" aria-describedby="emailHelp">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="lastName">Last Name*</label>
											<input type="text" name="last_name" class="form-control" id="lastName">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="phone">Phone*</label>
											<input type="text" name="phone" class="form-control" id="phone">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="email">Email</label>
											<input type="email" name="email" class="form-control" id="email">
										</div>
									</div>

									<div class="col-md-6">
										<div class="form-group">
											<label for="addressLine1">Address Line 1*</label>
											<input type="text" name="address_line_1" class="form-control" id="addressLine1">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="addressLine2">Address Line 2</label>
											<input type="text" name="address_line_2" class="form-control" id="addressLine2">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="city">City*</label>
											<input type="text" name="city" class="form-control" id="city">
										</div>
									</div>

									<div class="col-md-12">
										<div class="form-group">
											<label for="note">Delivery Information</label>
											<input type="text" name="note" class="form-control" id="note">
										</div>
									</div>

								</div>
							</fieldset>
						</form>
					</div>

				</div>
			</div>

			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						<div>ORDER SUMMARY</div>
						<hr>
						<dl class="row">
							<dt class="col-sm-7">Order Subtotal</dt>
							<dd class="col-sm-5 text-right">LKR
								{{ cart.gross_total |number_format(2, '.', ',')}}
							</dd>
							<dd></dd>
							<dt class="col-sm-7">Discount</dt>
							<dd class="col-sm-5 text-right">LKR
								<span class="checkout-discount">{{ cart.discount |number_format(2, '.', ',')}}</span>
							</dd>

							<dt class="col-sm-7">Coupon Discount</dt>
							<dd class="col-sm-5 text-right">LKR
								<span class="checkout-coupon-discount">{{ cart.coupon_discount |number_format(2, '.', ',')}}</span>
							</dd>
							{% if cart.coupon_discount <= 0 %}
								<dd class="col-sm-12">
									<form class="form-inline" id="couponForm" onsubmit="couponVarify(); event.preventDefault()">
										<div class="input-group mb-2 mr-sm-2">
											<input type="text" class="form-control" id="couponCodeInput" placeholder="Coupon Code">
										</div>
										<button type="submit" class="btn btn-primary mb-2">Varify</button>
									</form>
									<hr>
								</dd>
							{% endif %}
							<dt class="col-sm-7">Final Total</dt>
							<dd class="col-sm-5 text-right net-total-color">LKR
								<span class="checkout-net-total">{{ cart.net_total |number_format(2, '.', ',')}}</span>
							</dd>
						</dl>

						<button type="submit" form="checkoutForm" disabled="true" class="btn btn-success btn-block">Checkout</button>
						<hr>
						<div>ITEM SUMMARY</div>
						<hr>
						<div class="checkout-items">
							{% for item in cart.items %}
								<div>
									<div style="font-weight:bold">
										<div class="row">
											<div class="col-md-6">
												{{item.name}}
												<br><small>ISBN:
													<br>{{item.isbn}}</small>
											</div>
											<div class="col-md-6 text-right">
												<div>LKR
													{{item.total |number_format(2, '.', ',')}}</div>
											</div>
										</div>

									</div>
									<div>
										<small>Quantity:
											{{item.qty}}</small>
									</div>
									<hr>
								</div>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>{% endblock %}{% block scripts %}
<script type="text/javascript"></script>{% endblock %}
